﻿@{
    ViewBag.Title = "Home Page";
    <script type="text/javascript" src="@Url.Content("/Scripts/myFunctions.js")"></script>
}
<div class="jumbotron">
    <h2>Horváth Dominik Beadandója</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/Home/ReadFile" id="start" class="btn btn-danger" >Fájl beolvasása és feldolgozása...</a>
    </div>
</div>