﻿@using WebApplication1.Resources;
@{
    ViewBag.Title = "ReadFile";
    
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-info">
                <span>A legolcsóbb gyógyszer az adott kódra:@ViewData["queryType"]</span>
                <span>@Html.Raw(ViewData["queryData"])</span>
            </div>
            <div class="panel-group">
                @foreach (var medicine in (List<Medicine>)ViewData["medicineWrapper"])
                {



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@medicine.Name">
                                    <p>Name: @medicine.Name</p>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="@medicine.Name" class="panel-collapse collapse">
                                <p>Code: @medicine.IllnessCode</p>
                                <p>Price: @medicine.Price</p>
                                <p>Substances:</p>
                                <ul>
                                    @foreach (var subs in medicine.Substances)
                                    {
                                        <li>@subs</li>
                                    }
                                </ul>
                                <p>SideEffects:</p>
                                <ul>
                                    @foreach (var eff in medicine.SideEffects)
                                    {
                                        <li>@eff</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
